USE [master]
GO
/****** Object:  Database [QLBH]    Script Date: 6/9/2020 8:28:09 PM ******/
CREATE DATABASE [QLBH]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'QLBH', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLBH.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'QLBH_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\QLBH_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [QLBH].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [QLBH]
GO
/****** Object:  User [sa1]    Script Date: 6/9/2020 8:28:09 PM ******/
CREATE USER [sa1] FOR LOGIN [sa1] WITH DEFAULT_SCHEMA=[dbo]
GO
/****** Object:  Table [dbo].[LoaiHangHoa]    Script Date: 6/9/2020 8:28:09 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LoaiHangHoa](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenLoai] [nvarchar](50) NULL,
	[GhiChu] [text] NULL,
	[MaLoai] [nchar](10) NULL,
 CONSTRAINT [PK_LoaiHangHoa] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[LoaiHangHoa] ON 

INSERT [dbo].[LoaiHangHoa] ([Id], [TenLoai], [GhiChu], [MaLoai]) VALUES (1, N'Quan Ao Nam', N'Quan Ao Cho Nam', N'1         ')
INSERT [dbo].[LoaiHangHoa] ([Id], [TenLoai], [GhiChu], [MaLoai]) VALUES (2, N'Quan Ao Nu', N'Quan Ao Cho Nam', N'1         ')
INSERT [dbo].[LoaiHangHoa] ([Id], [TenLoai], [GhiChu], [MaLoai]) VALUES (5, N'Quan Ao Tre Em', N'Quan Ao Cho Tre So Sinh', N'2         ')
SET IDENTITY_INSERT [dbo].[LoaiHangHoa] OFF
GO
USE [master]
GO
