<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Demo_Login.Properties.Settings.QLHHConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\QLHH.mdf;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="Demo_Login.Properties.Settings.MyeStoreConnectionString"
            connectionString="Data Source=DESKTOP-9H682VS;Initial Catalog=MyeStore;Persist Security Info=True;User ID=sa;Password=sapassword"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>